<<<<<<< HEAD
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
=======
<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87
