<<<<<<< HEAD
<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
=======
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87
