<<<<<<< HEAD
<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_customer_path(@cutomer) %> |
<%= link_to 'Back', customer_path %>
=======
<h1>Customers#show</h1>
<p>Find me in app/views/customers/show.html.erb</p>
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87
