/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 * {
    margin: 0;
    padding: 0;
}

table td {
  margin: 0px auto;
  color:#000;
}

body{background: url("bg_wrapper.png") no-repeat;font-family:"Century Gothic"; color:#000;}
.wraptop {
  background: none repeat scroll 0 0 #333333;
  padding: 5px;
  width: 100%;

}

.wrapper {
  width: 100%;
  margin-top:10px;
}

.top {
  color: #FFFFFF;
  height: 40px;
  margin: 0 auto;
  text-align: right;
  width: 1200px;
}

.list-align-right{float: right}
h1{font-family:"Century Gothic"; font-size:30px; color:#FF3366; text-align:left; padding:5px}
.top-panel-logo{float:left; display:inline-block; width:313px}
.top-panel-links{float:right; display:inline-block; width:800px; margin-left:80px}
.top-panel-links ul{list-style-type: none; margin: 0; padding: 0; z-index: 100;}
.top-panel-links ul li{display: inline;float: left; position: relative;}
.top-panel-links ul li a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 900;
    height: 31px;
    line-height: 31px;
    margin-top: 12px;
    outline: medium none;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100px;
	text-transform:uppercase;
	margin-left:2px;
}
.top-panel-links ul li a:hover {
    color: #C6C3B5;
}
.clear{clear:both}
.login-panel{width:500px; margin:0px auto; background:#333; padding:20px; margin-top:100px; color:#FF3366}

.login-panel table td  {color:#FF3366}
.login-panel a {color:#FF3366; text-decoration:none}

.button{color:#FF3366; background:#fff; padding:5px; width:auto; border:#fff; font-weight:bold}
.textfield {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #333333;
  color: #FF3366;
  height: 25px;
  padding: 5px;
  width: 340px;
}
.content{margin-top:40px; width:1200px; margin:0px auto}
.content h1{color:#fff}

.content-left{background:#333; display:inline-block; width:1200px; }
.content-right{}


.left-column{background:#333;width:200px; display:inline-block; padding:20px; color:#fff}
.right-column{background:#333;width:1000px; display:inline-block}

.row{margin-bottom:10px; width:1200px; margin:0px auto;}

.header-row{margin-bottom:10px; width:1200px; margin:0px auto; text-align: center}
.header-cols-2{padding:0px; width:557px; margin:0px; display:inline-block; float: left}
.header-cols-2 h1{ font-size:30px; color:#333}
.header-cols-2 p{ color:pink}
.header-cols-2 a{ text-decoration:none; color:pink;}
.header-cols-2 a:hover{ text-decoration:none; color:#333;}


.cols-4{padding:10px; background:#eee; width:266px; margin:5px; display:inline-block;text-align:center}
.cols-4 h1{ font-size:30px; color:#333; text-align: center; text-decoration: none}
.cols-4 p{ color:#333}
.cols-4 h4, a{ font-size:16px; color:#333; text-align: center; text-decoration: none}

.cols-3{padding:10px; background:#333; width:357px; margin:10px; display:inline-block}
.cols-3 h1{ font-size:16px; color:#333}
.cols-3 p{ font-size:12px; color:#fff}

.cols-2{padding:10px; background:#333; width:auto; margin:10px; display:inline-block; float:left}
.cols-2 h1{ font-size:25px; color:#333; margin-botton: 10px; padding:2px}
.cols-2 p{ font-size:12px; color:#fff}
.cols-2 table td{ font-size:14px; color:#fff}

.cols-1{padding:10px; background:#333; width:1157px; margin:10px; display:inline-block}
.cols-1 h1{ font-size:25px; color:#333; margin-botton: 10px; padding:2px}
.cols-1 p{ font-size:12px; color:#fff}

.content-col{padding:10px; width:1200px; padding:0px; display:inline-block}
.content-col h1{ font-size:35px; color:#333; margin-botton: 10px; padding:10px}
.content-col p{ font-size:12px; color:#fff}
.content-col table td{ font-size:14px; color:#333}
.content-col .left{ float: left; width: 360px; display: inline-block;margin-right: 30px}
.content-col .right{ float: left; width: 740px; display: inline-block;}
.content-col .text-left{ float: left; width: 680px; display: inline-block;margin-right: 30px}
.content-col .text-left p{font-size:20px; color:#000; margin-bottom:5px; padding:10px;}
.content-col .text-left h2{margin-bottom:5px; padding:10px;}
.content-col .text-left ul li{font-size:16px; color:#000; margin-bottom:3px; padding:10px; }
.content-col .text-left li{margin-left:40px; }
.content-col .text-right ul li{font-size:12px; color:#000; margin-bottom:5px; padding:10px; }
.content-col .text-right li{margin-left:40px;margin-bottom:13px; }
.content-col .text-left .text-red{color:red;}
.content-col .text-right{ float: left; width: 400px; display: inline-block;}

.content-col .text-left table {
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.row .content-col .left_side {
  width: 700px; 
  display: inline-block;
  float: left;
}

.row .content-col .right_side {
  display: inline-block;
  float: left;
  width: 300px;
  margin-left: 120px;
}

.content-col .right_side h2 {
  background: none repeat scroll 0 0 #0EBFE9;
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 6px;
  padding: 5px;
}

.content-col .text-left table td {
  border-top: 1px solid #DDDDDD;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
    font-size: 18px;
}

.footer {
  width: 1200px;
  margin-top:30px;
  height:200px;
}

.wrap-footer {
  background: none repeat scroll 0 0 #333333;
  padding: 5px;
  width: 100%;
}


.footer{width:1200px; margin:0px auto}

.wrap-footer .footer p h1{color:#fff;}

.bottom-wrapper {
  width: 100%;
  margin-top:18px;
}
.bottom{width:1200px; margin-bottom:10px;text-align:center}
.bottom p {color:#333; padding:5px}
.bottom a{color:#333; padding:5px}

.textinput {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  box-shadow: 0 2px 0 #F0F0F0;
  height: 30px;
  padding: 1px 1px 1px 5px;
  width: 262px;
}

.dropdown {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #333333;
  color: #FF3366;
  height: 60px;
  padding: 5px;
  width: 340px;
}

.button-class {
  background: none repeat scroll 0 0 #FF3399;
  border: 1px solid #FF3399;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  margin-top: 4px;
  padding: 4px;
}
.success{background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: green; padding:20px}

h1 span {color:#444; font-size:18px; }

.stats-number{font-size:50px; font-weight:bold}

.nav {
  background: none repeat scroll 0 0 #FF3366;
  float: right;
  font-family:"Century Gothic";
  height: 50px;
  width: 1200px;
}

.nav ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-transform: capitalize;
}

/*Top level list items*/
.nav ul li {
  
  display: inline;
  float: left;
  position: relative;
  text-transform: capitalize;
}

.nav ul li a {
  color: #FFFFFF;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 900;
  height: 31px;
  line-height: 45px;
  margin-bottom: 10px;
  outline: medium none;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 200px;
  text-transform: capitalize;
}

* html .nav ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.nav ul li a.selected, .nav ul li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #000;}

.logo {
  display: inline-block;
  height: auto;
  width: auto;
  background-image:url('/images/logo.jpeg');
}

.color-black{color:#333;}

.padding10px{padding:10px;}

.footer-box {
  color: #FFFFFF;
  display: inline-block;
  float: left;
  padding: 20px;
  width: 266px;
}

.text2 {
  border-bottom: 1px dotted #FF3366;
  color: #FFFFFF;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.picture_box {
  background: url("../images/bg.wrapper.png") repeat-x scroll 0 0 #ECECEC;
  border: 2px solid #DDDDDD;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-left: 19px;
  margin-top: 10px;
  padding: 5px;
  width: auto;
}

.extra_info {
  background: none repeat scroll 0 0 #FF3355;
  color: #fff;
  padding: 8px;
}

.details {
  font-size:16px;
}

.featured-categories .info-box {
  display: inline-block;
  float: left;
  padding: 20px;
  width: 200px;
}

#errorExplanation{width:300px; border: 1px solid #333; background:#F2DEDE }

#errorExplanation h2{color: #fff }

.featured-categories{margin-top: 10px; margin-bottom: 30px}
.featured-categories h1{background: #FF3366; color: #fff}

.text-red{color:#FF3355;}

.form-group {margin-bottom: 10px }

.form-input{width:400px; height: 35px; margin-bottom: 10px}

.form-control{width:380px;height:120px;}

.textarea-height{height:100px;}

/*
Styling fro the admin area
**/
.admin-wrap{width:100%;}
.admin-top{width:100%; margin: 0;top:0px; position: fixed !important;z-index: 301;
}

.admin-content {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.admin-content .text {
  padding: 18px;
  margin-top: 50px;
}

.admin-content .text .left {
  float: left;
  display: inline-block;
  width: 35%
}

.admin-content .text .right {
  float: right;
  display: inline-block;
  width:65%;
}

.admin-content .text .column-left {
  float: left;
  display: inline-block;
  width:65%;
}

.admin-content .text .column-right {
  float: right;
  display: inline-block;
  width:35%;
}

.admin-content .text .column-right h2 {
  font-size: 20px; background:#0EBFE9 ;
  padding: 5px; margin-bottom: 6px;
  color: #fff; 
}

.admin-content .text .right table td {
  font-size: 12px
}

.admin-content .text .right a {
  font-size: 12px
}

.table-header-style{background: #428BCA; color:#FFF;padding:5px;}
.align-center{text-align: center}

.td-width-30px{width: 30px;text-align: center}
.td-width-40px{width: 40px;text-align: center}
.td-width-100px{width: 100px; text-align: center}
.td-width-80px{width: 150px; text-align: center}

.dashboard-panel-box {
  background-color: #FFFFFF;
  border: 2px solid rgba(3, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  margin-top: 30px;
  width:22%;
  margin-left: 29px;
  float: left;
  display: inline-block;
  text-align: center;
  height:auto;
}

.dashboard-panel-box h2 {
  font-size: 50px;
}

.stat-blue{color: #31708F;}
.stat-yellow{color: #8A6D3B;}
.stat-red{color: #A94442;}
.stat-green{color: #3C763D;}

.blue{background-color: #D9EDF7;}
.yellow{background-color: #FCF8E3;}
.red{background-color: #F2DEDE}
.green{background-color: #DFF0D8;}

.login{margin: 0px auto; width: 600px; padding: 20px; margin-top: 120px; margin-bottom: 250px}
.login h1{font-size: 18px; text-align: center;}
.login .login-left{display: inline-block; float: left;width: 350px; margin-right: 30px }
.login .login-right{display: inline-block; float: right;width: 100px}
