<div class="admin-top">	
	<div class="wraptop">
	  <div class="top">
	   	<div class="top-panel-logo"><h1>DAYSHADES | <span>Admin</span></h1></div>
	        
	        <div class="top-panel-links">
	        	<ul>
	            	<li><%= link_to 'DASHBOARD', dashboard_index_path %></li>
	                <li><a href="customers.html">Customers</a></li>
	                <li><%= link_to 'PRODUCTS'%></li>
	                <li><a href="orders.html">OrderS</a></li>
	                <li><a href="user.html">User</a></li>
	                <li><%= link_to 'FRONTEND', public_home_path%></li>
	                <li><a href="#">Sign Out</a></li>
	            </ul>
	        
	        </div>
		</div>
	</div>
</div>

<div class="admin-wrap">
	<div class="sidebar">

	</div>
</div>

<h1>Categories#new</h1>
<p>Find me in app/views/categories/new.html.erb</p>
