<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Dayshades Bridal Boutique</title>
=======
  <title>Dayshades</title>
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
